<!DOCTYPE html>
<html>
<head>
    <title>Pr4</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script type="text/javascript" src="script/scripts.js"></script>
</head>

<body>
<select name="downloadOptions" id="downloadOptions">
    <option value="r" selected>RegExp</option>
    <option value="s">Split</option>
</select>
<input type="text" placeholder="Регион" id="region">
<input type="text" placeholder="Район" id="area">
<input type="text" placeholder="Населенный пункт" id="np">
<div style="display: flex">
    <div id="my-table" class="my-grid"></div>
    <div id="my-table2" class="my-grid"></div>
</div>

</body>

</html>