<!DOCTYPE html>
<html>
<head>
    <title>Pr4</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script type="text/javascript" src="script/scripts.js"></script>
</head>

<body>
<select name="downloadOptions" id="downloadOptions">
    <option value="r" selected>RegExp</option>
    <option value="s">Split</option>
</select>
<div id="my-table" class="my-grid"></div>
</body>

</html>